.intro {
    background-color: lightpink;
}

ul {
list-style-type: none;
margin: 0px;
padding: 0px;
overflow: hidden;
background-color: white;
    
}
   
li {
float: left;
}
   
li a {
display: hidden-block;
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
   
li a:hover:not(.active) {
background-color: whitesmoke;
}
   
.active {
background-color: whitesmoke;
}
img{
width: 200px;
height: 200px;
float: left;
}
   